body{
    background-color: rgb(105, 245, 245);
}
.Cont{
    width:70%;
    height:70%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.BX1{
           margin-top: 5px;
    height:100px;
    width: 100px;
    /* margin: 20px; */
    border-radius: 1em;
    text-align: center;
    background-color: antiquewhite;
    justify-content: center;
    /* align-items: center; */
    align-items: center;
    align-self: center;

}
.BT1{
    height: 20px;
    width: 50px;
    color: rgb(1, 1, 17);
    /* border: none; */
    background-color:rgb(96, 96, 235) ;
    border-radius: 50px;
}
.BA1{
    background-color: cadetblue;
}